{% extends "base.html" %}


{% block content %}

	<div><h1>Anthrocon Video Game Tournament Signups</h1></div>

    {% if tourneys.count == 0 %}
    <div>No tournaments configured</div>
    {% else %}


    <div><h2>Select a tournament:</h2>
        {% for t in tourneys %}
            <div style="padding-top:20px;padding-left:10px;">
            	<span style="display:inline-block;width:130px;">{{t.start_time|date:"l, f a"}}</span>
            	<a href="/tourney/{{t.id}}/">{{t.name}}</a>
            </div>
        {% endfor %}
    </div>

    {% endif %}
{% endblock %}
