{% extends "base.html" %}

{% block content %}

    <h2>{{tourney}}</h2>

	{% if tourney.entrants.count > tourney.cutoff %}
		<div style="font-face:bold;">{{tourney.cutoff}} Participants,
		{{tourney.get_alternates.count}} Alternates
		</div>
	{% else %}
    	<div style="font-face:bold">{{tourney.entrants.count}} of {{tourney.cutoff}} Registered</div>
    {% endif %}

    <table style="float:left;" cellpadding=4>
    <tr><th colspan=3>Participants</th></tr>
    {% for e in tourney.entrants.all %}
        {% if forloop.counter <= tourney.cutoff %}

			<tr style="font-size:1.1em;"><td>{{forloop.counter}}.</td><td>{{e}}</td><td> <td>{{e.registered_on|date:"l, g:i a"}}</td></tr>

        {% endif %}

    {% endfor %}

	<table style="float:left;padding-left:10px;" cellpadding=4>
    <tr><th colspan=3>Alternates</th></tr>
    {% for e in tourney.get_alternates %}

			<tr style="font-size:1.1em;"><td>{{forloop.counter}}.</td><td>{{e}}</td><td> <td>{{e.registered_on|date:"l, g:i a"}}</td></tr>


    {% endfor %}



{% endblock %}
