{% extends "base.html" %}

{% block head %}

	<style type="text/css">
		form {padding-left:20px;}
		p label {display:inline-block;width:135px;}
		#id_name {width:250px;}
		#id_badge_number {width:75px;}
	</style>

    <script type="text/javascript">
        $().ready(function() {
            $("#id_tourney_pk")[0].value = {{tourney.id}}
        });


    </script>

{% endblock %}

{% block content %}

    <h2>{{tourney}}</h2>

    <div style="">{{tourney.get_entrants.count}} Registered
	    {% if tourney.has_alternate_list %}
	    and {{tourney.get_alternates.count}} Alternates
	    {% endif %}
		<a href="/list/{{tourney.id}}/" target="_blank">View List</a>
    </div>

    <div style="padding-top:10px;">{{tourney.rules|safe}}</div>


    <div style="padding-top:10px; font-weight:bold;">By signing up, you certify that you've read and will abide by the rules of this tournament.</div>

    {% if tourney.entrants.count >= tourney.cutoff %}
        <div  style="padding-top:10px;font-weight:bold;">You will be registered as an alternate.</div>
    {% endif %}

    <form action="/tourney/{{tourney.id}}/" method="post">{% csrf_token %}
    {{form.as_p}}
    <input type="submit" value="Sign Up" />
    </form>

{% endblock %}
