{% extends "base.html" %}

{% block content %}

    <div>{{tourney}}</div>
    <div>{{tourney.entrants.count}} of {{tourney.cutoff}} registered</div>

    <div>{{tourney.rules|safe}}</div>


    <div>By signing up, you certify that you've read and will abide by the rules of this tournament.</div>

    {% if tourney.entrants.count >= tourney.cutoff %}
        <div>You will be registered as an alternate.</div>
    {% endif %}

    <form action="/tourney/{{tourney.id}}/" method="post">{% csrf_token %}
    {{form}}
    <input type="submit" value="Submit" />
    </form>

{% endblock %}
